* {
  font-family: 'Montserrat', sans-serif;
}

.generate {
  width: 500px;
  height: 25px;
  display: block;
}

.tinggi {
  padding: 5px;
}

.centered {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}